@use "../../utils/theme.module";

.hero-section {
  min-height: calc(120vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: fit-content;
  animation: 1.5s ease 0s 1 normal none running fadeInUp;
  flex-grow: 0;
  margin-bottom: 200px;
  margin-top: -200px;

  .hero-description {
    max-width: 50%;
    gap: 0.3rem;

    h1 {
      margin: 0;
    }
  }
}

.hero-image-div {
  height: 285px;
  width: 285px;

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
  }
}

@media (max-width: 870px) {
  .hero-image-div {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .hero-description {
    max-width: 100%;
    margin-top: 0;
    justify-content: center;
  }

  .hero-container {
    gap: 1rem;
  }

  .hero-image-div {
    width: 54vw;
    height: 54vw;
  }
}
