@use "../../utils/theme";
.hero-container {
  min-height: calc(120vh);
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 30vh;

}
.hero-image-div {
  height: 315px;
  width: 315px;
  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    
  }
}

.hero-description {
color: theme.$primary-300;
  max-width: 50%;
  gap: 0.3rem;

}
