@use "../../utils/theme.module";
.about-section {
  // background: theme.$surface-200;
  min-height: calc(100vh);
  
}
.about-container {
  gap: 2rem;
}

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

