  /** SCSS DARK THEME PRIMARY COLORS **/
  $primary-100: #f25a0f;
  $primary-200: #f86f30;
  $primary-300: #fd824a;
  $primary-400: #ff9563;
  $primary-500: #ffa77c;
  $primary-600: #ffb995;

  /** SCSS DARK THEME SURFACE COLORS */
  $surface-100: #121212;
  $surface-200: #282828;
  $surface-300: #3f3f3f;
  $surface-400: #575757;
  $surface-500: #717171;
  $surface-600: #8b8b8b;

  /** SCSS DARK THEME MIXED SURFACE COLORS */
  $surface-mixed-100: #271a14;
  $surface-mixed-200: #3c2f29;
  $surface-mixed-300: #524540;
  $surface-mixed-400: #685d58;
  $surface-mixed-500: #807672;
  $surface-mixed-600: #98908c;