@use "../../utils/theme.module";

.hero-section {
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: fit-content;
  animation: 1.5s ease 0s 1 normal none running fadeInUp;
  flex-grow: 0;
  padding: 0 1rem 12rem 0;

  .hero-description {
    max-width: 500px;
    gap: 0.3rem;

    h1 {
      margin: 0;
    }
  }
  .secondary-text {
    text-align: center;
    padding: 0 2rem 0 2rem;
    line-height: 1.8;
  }
}

.hero-image-div {
  height: 285px;
  width: 285px;

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    user-select: none;
    pointer-events: none;
  }
}

@media (max-width: 870px) {
  .hero-image-div {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .hero-description {
    max-width: 100%;
    margin-top: 0;
    justify-content: center;
  }

  .hero-container {
    gap: 1rem;
  }

  .hero-image-div {
    width: 54vw;
    height: 54vw;
  }
}
